@tailwind base;
@tailwind components;
@tailwind utilities;

.submit-application:hover{
	background-color: grey;
}
.submit-application{
	background-color: rgb(67, 67, 255);
}
.application-cards{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.single-card{
	width: 15em;
	max-height: 16em;
}
.description{
	resize: none;
	border: none;
}
.description-edit{
	resize: none;
	margin-bottom: 5px;
}
.edit-buttons{
	display: flex;
	justify-content: space-between;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.width-enlarge{
	min-width: 80vw;
}